<!DOCTYPE html>
<html>
  <head>
    <title>Meshiterro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://kit.fontawesome.com/f8d0447241.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header>
    <% if user_signed_in? %>
      <li>
       <%= link_to '投稿フォーム', new_post_image_path %>
      </li>
      <li>
      <%= link_to 'マイページ', user_path(current_user.id) %>
      </li>
      <li>
       <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
       <% else %>
      <li>
       <%= link_to "新規登録", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
    <% end %>
  </header>
  <%= yield %>
</body>
</html>
